body {
    text-align: center;
    background: linear-gradient(#0c57f7 0%, #a03fba 100%);
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#welcome {
    margin-top: 200px;
    padding: 50px;
    position: absolute;
    display: inline;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    background: linear-gradient(#0c57f7 0%, #a03fba 100%);
    display: table;
    width: 100%;
    height: 800px;
    z-index: 10;
    text-align: center;
}

#about {
    padding: 50px;
    text-align: center;
    bottom: 0;
    top:0;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.header {
    word-spacing: 5px;
    font-family: 'Benne', serif;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: 600;
    font-style: oblique;
    color: red;
    text-shadow: 2px 2px #f238f2;
}

.head {
    word-spacing: 5px;
    font-family: 'Benne', serif;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: 400;
}

.sub-header {
    cursor: pointer;
    font-size: 30px;
    font-family: 'Yellowtail', cursive;
}

.paragraph {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 18px;
}
